<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <priority value="DEBUG"/>
      <appender-ref ref="error-file"/>
      <appender-ref ref="debug-file"/>
      <!--<appender-ref ref="active-file" />-->
    </root>

    <appender name="debugger" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>

    <appender name="debug-file" type="log4net.Appender.RollingFileAppender">
      <!-- debug log: all messages, based on logger priority settings of namespaces above -->

      <file value="logs/ct-debug"/>
      <appendToFile value="true"/>

      <!-- immediate flush on error log, to avoid data loss with sudden termination -->
      <immediateFlush value="true"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="20480KB"/>
      <rollingStyle value="Date"/>
      <datepattern value="-yyyyMMdd'.log'"/>
      <!-- prevent ct.exe from displaying locking debug messages -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] - %message%newline"/>
      </layout>
    </appender>

    <appender name="error-file" type="log4net.Appender.RollingFileAppender">
      <!-- error log: only ERROR and FATAL subset of debug log -->

      <file value="logs/ct-error"/>
      <appendToFile value="true"/>

      <!-- immediate flush on error log, to avoid data loss with sudden termination -->
      <immediateFlush value="true"/>
      <staticLogFileName value="false"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="20480KB"/>
      <rollingStyle value="Date"/>
      <datepattern value="-yyyyMMdd'.log'"/>

      <!-- prevent ct.exe from displaying locking error messages -->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>

      <filter type="log4net.Filter.LevelRangeFilter">
        <!-- only error and fatal messages end up in this target, even if child loggers accept lower priority -->
        <levelMin value="ERROR"/>
      </filter>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
	  <add key="AllowMultipleInstances" value="False"/>
	  <add key="AppKey" value="testApp123"/>
	  <add key="SecretKey" value="8526d2f2e03fe8f96384dkdsdj"/>
	  <add key="ServiceBaseUrl" value="http://sstm.lengliwh.com"/>

	  <!--通知服务器失败后重传的时间间隔, 单位毫秒-->
	  <add key="RenotifyServerTimerInterval" value="300000"/>
	  
	  <!--预约参观的ScheduleId-->
	  <add key="BookingScheduleId" value="19"/>
	  <!--特展购票的ScheduleId,用英文的逗号隔开-->
	  <add key="ExhibitionScheduleId" value="19,17"/>
	  <!--特展购票票种备注的字体大小, 建议最大24，最小15-->
	  <add key="ExhibitionTicketTypeDescriptionFontSize" value="18"/>
	  <!--特展购票票种备注一行的字数, 字体是23时，一行字数最多是17-->
	  <add key="ExhibitionTicketTypeDescriptionCharsInOneLine" value="23"/>

	  <!--0:T080,1:BTP6206,2:VK80-->
	  <add key="PrinterDevice" value="1"/>
	  <add key="PrinterName" value="ZTP80 L32 E02"/>
	  <!--0:一票多人,1:一人一票-->
	  <add key="PrintType" value="0"/>

	  <!--是否在启动时检测硬件连接(打印机，扫码器等)-->
	  <add key="HardwareDetection" value="false"/>
	  <!--是否在预约参观功能查询门票库存-->
	  <add key="NeedToCheckVisitTickStock" value="false"/>
	  <!--是否在特展购票功能查询门票库存-->
	  <add key="NeedToCheckExhibitionTickStock" value="false"/>
	  <!--预约参观按钮, True: 显示, False:不显示-->
	  <add key="ShowVisitButton" value="True"/>
	  <!--特展购票按钮, True: 显示, False:不显示-->
	  <add key="ShowExhibitionButton" value="True"/>
	  <!--自助取票按钮, True: 显示, False:不显示-->
	  <add key="ShowGetTicketButton" value="True"/>
	  <!--刷身份证取票按钮, True: 显示, False:不显示-->
	  <add key="ShowGetTicketBySwipIDButton" value="True"/>
	  <!--输入身份证号码取票按钮, True: 显示, False:不显示-->
	  <add key="ShowGetTicketByInputIDButton" value="True"/>
	  <!--输入手机号和订单号取票按钮, True: 显示, False:不显示-->
	  <add key="ShowGetTicketByCellAndOrderButton" value="True"/>
  </appSettings>
</configuration>
